<a href="https://colab.research.google.com/github/apschlissel/capstone/blob/main/Testing_Synonym_Extraction_Books.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Synonym Extraction from pre-aligned libraries**

In [ ]:
!pip install s3fs
!pip install boto3

In [ ]:
## Download Libraries
import s3fs
import boto3
import pandas as pd
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('stopwords')
nltk.download('punkt')

import re
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
## Test Synset (Cognitive Synonyms of a distinct concept)
syn_examp = wordnet.synsets('university')
syn_examp

[Synset('university.n.01'),
 Synset('university.n.02'),
 Synset('university.n.03')]

In [ ]:
#creating library dataframe

#life events: family issues, moving/immigration, romantic relationships, college/education, death

# initialize list elements
data = ['College', 'Relationships', 'Break up', 'Divorce', 'Wedding', 'Stress', 'Moving', 'Coming of age', 'Death']
#data = ['University', 'romance', 'family', 'Death', 'Moving', 'Immigrate']
 
# Create the pandas DataFrame with column name is provided explicitly
df_lib = pd.DataFrame(data, columns=['life_event'])
 
# print dataframe.
df_lib

      life_event
0        College
1  Relationships
2       Break up
3        Divorce
4        Wedding
5         Stress
6         Moving
7  Coming of age
8          Death

In [ ]:
## Test Lemmas (Collection of Similar Words)
def create_synsets(event):
  
  synonym = [] 
    
  for synset in wordnet.synsets(event): 
      for i in synset.lemmas(): 
          synonym.append(i.name()) # add all the synonyms available 
  synonym = set(synonym)  
  return list(synonym)

In [ ]:
create_synsets('go_steady')

['go_steady', 'see', 'go_out', 'date']

In [ ]:
df_lib

In [ ]:
synsets = [create_synsets('college') + create_synsets('university'), create_synsets('go_steady'), ['break up', 'split', 'split up', 'broken up'], ['divorce', 'divorced', 'split up', 'separate'], create_synsets('wedding'), ['stress'], ['move', 'moving'], ['coming of age'], ['death', 'decease', 'dying']]
df_lib["sysnets"] = synsets
df_lib

In [ ]:
#creating library dataframe


life_events = ['university', 'relationships', 'break ups', 'divorce', 'wedding', 
               'death', 'family', 'friendship', 'marriage']

#create synsets for select events where decent synsets exist
relationship_list = create_synsets('go_steady') + ['relationship', 'kinship', 'romance', 'dating']
marriage_list = create_synsets('marriage')
wedding_list = create_synsets('wedding') + ['matrimony']

#replace underscore (_) with space
relationship_list = [i.replace("_", " ") for i in relationship_list]
marriage_list = [i.replace("_", " ") for i in marriage_list]
wedding_list = [i.replace("_", " ") for i in wedding_list]

#remove certain words
wedding_list.remove('tie')
wedding_list.remove('marriage')
relationship_list.remove('see')

synsets = [['college', 'university', 'campus', 'academia', 'professor', 'colleges', 'universities', 'professors'], 
           relationship_list, 
           ['breakup', 'break up', 'split up', 'broken up', 'dumped', 'breaks up', 'splits up', 'dumps', 'dump', 'breaks off', 'break off'], 
           ['divorce', 'divorced', 'divorces'], 
           wedding_list,  
           ['death', 'decease', 'deceased', 'dying'],
           ['family', 'mother', 'father', 'brother', 'sister', 'mom', 'dad'],
           ['friends', 'friend', 'friendship', 'friendships'],
           marriage_list]

# Create the pandas DataFrame with column name is provided explicitly
df_lib = pd.DataFrame(life_events, columns=['life_event'])
df_lib['synsets'] = synsets
 
# print dataframe.
df_lib

      life_event                                            synsets
0     university  [college, university, campus, academia, profes...
1  relationships  [go steady, go out, date, relationship, kinshi...
2      break ups  [breakup, break up, split up, broken up, dumpe...
3        divorce                      [divorce, divorced, divorces]
4        wedding  [marry, conjoin, wedding ceremony, get hitched...
5          death                  [death, decease, deceased, dying]
6         family  [family, mother, father, brother, sister, mom,...
7     friendship         [friends, friend, friendship, friendships]
8       marriage  [matrimony, wedlock, wedding, man and wife, ma...