# Model 1 Evaluation

In [1]:
import s3fs
import boto3
import pandas as pd

In [2]:
model_1_v0 = pd.read_csv('s3://ec2-jupyter-notebook-us-west-2-8c94c42abbd5478ca9a1a477613965a7/test_results_model1v0.csv')
model_1_v1 = pd.read_csv('s3://ec2-jupyter-notebook-us-west-2-8c94c42abbd5478ca9a1a477613965a7/test_results_model1v1.csv')

In [3]:
model_1_v0.to_csv('model_1_v0.csv')

In [4]:
model_1_v1.to_csv('model_1_v1.csv')

In [153]:
model_1_v0['moving'].value_counts()

[]            99
['moving']     1
Name: moving, dtype: int64

In [ ]:
#average number of classifications per book (out of books that were classified)
#average number of classifications per book (out of all books)

## Model 1 v0

In [154]:
model_1_v0.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'bookId', 'title',
       'series', 'author', 'description', 'isbn', 'genres', 'pages',
       'publishDate', 'Fiction', 'Young Adult', 'Childrens', 'New Adult',
       'Fantasy', 'History', 'Dystopia', 'Manga', 'Thriller', 'Graphic Novels',
       'Romance', 'tokens', 'university', 'relationships', 'break ups',
       'divorce', 'wedding', 'moving', 'coming of age', 'death',
       'Life Event Categories', 'University_T', 'Relationships_T',
       'Break_ups_T', 'Divorce_T', 'Wedding_T', 'Moving_T', 'Coming_of_age_T',
       'Death_T', 'Family_T', 'Friendship_T'],
      dtype='object')

In [155]:
def prec_func(class_col, true_col, model):
    FP = 0
    FN = 0
    TN = 0
    TP = 0
    for i in range(0,len(model)):
            if model[class_col][i] != '[]' and model[true_col][i] == True:
                TP = TP + 1
            if model[class_col][i] == '[]' and model[true_col][i] == True:
                FN = FN + 1
            if model[class_col][i] != '[]' and model[true_col][i] == False:
                FP == FP + 1
            if model[class_col][i] == '[]'  and model[true_col][i] == False:
                TN = TN + 1
    results = [TP, TN, FP, FN]
    #accuracy = TP / (FP + TP)
    return results

In [156]:
def eval_func(class_col, true_col, model):
    FP = 0
    FN = 0
    TN = 0
    TP = 0
    for i in range(0,len(model)):
            if model[class_col][i] != '[]' and model[true_col][i] == True:
                TP = TP + 1
            if model[class_col][i] == '[]' and model[true_col][i] == True:
                FN = FN + 1
            if model[class_col][i] != '[]' and model[true_col][i] == False:
                FP == FP + 1
            if model[class_col][i] == '[]'  and model[true_col][i] == False:
                TN = TN + 1
    results = [TP, TN, FP, FN]
    accuracy = (TP + TN) / sum(results)
    return accuracy

In [157]:
un_v0 = eval_func('university', 'University_T', model_1_v0)
#print('TP:', un_v0[0], 'TN:', un_v0[1],'FP:', un_v0[2],'FN:', un_v0[3],)
un_v0

1.0

In [158]:
re_v0 = eval_func('relationships', 'Relationships_T', model_1_v0)
#print('TP:', re_v0[0], 'TN:', re_v0[1],'FP:', re_v0[2],'FN:', re_v0[3],)

In [159]:
br_v0 = eval_func('break ups', 'Break_ups_T', model_1_v0)
#print('TP:', br_v0[0], 'TN:', br_v0[1],'FP:', br_v0[2],'FN:', br_v0[3],)

In [160]:
di_v0 = eval_func('divorce', 'Divorce_T', model_1_v0)
#print('TP:', di_v0[0], 'TN:', di_v0[1],'FP:', di_v0[2],'FN:', di_v0[3],)

In [161]:
we_v0 = eval_func('wedding', 'Wedding_T', model_1_v0)
#print('TP:', we_v0[0], 'TN:', we_v0[1],'FP:', we_v0[2],'FN:', we_v0[3],)

In [162]:
mo_v0 = eval_func('moving', 'Moving_T', model_1_v0)
#print('TP:', mo_v0[0], 'TN:', mo_v0[1],'FP:', mo_v0[2],'FN:', mo_v0[3],)

In [163]:
mo_v0

0.0

In [164]:
co_v0 = eval_func('coming of age', 'Coming_of_age_T', model_1_v0)
#print('TP:', co_v0[0], 'TN:', co_v0[1],'FP:', co_v0[2],'FN:', co_v0[3],)

In [165]:
de_v0 = eval_func('death', 'Death_T', model_1_v0)
#print('TP:', de_v0[0], 'TN:', de_v0[1],'FP:', de_v0[2],'FN:', de_v0[3],)

## Model 1 v1

In [166]:
model_1_v1.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'bookId', 'title',
       'series', 'author', 'description', 'isbn', 'genres', 'pages',
       'publishDate', 'Fiction', 'Young Adult', 'Childrens', 'New Adult',
       'Fantasy', 'History', 'Dystopia', 'Manga', 'Thriller', 'Graphic Novels',
       'Romance', 'tokens', 'university', 'relationships', 'break ups',
       'divorce', 'wedding', 'death', 'family', 'friendship',
       'Life Event Categories', 'University_T', 'Relationships_T',
       'Break_ups_T', 'Divorce_T', 'Wedding_T', 'Moving_T', 'Coming_of_age_T',
       'Death_T', 'Family_T', 'Friendship_T'],
      dtype='object')

In [167]:
un_v1 = eval_func('university', 'University_T', model_1_v1)
re_v1 = eval_func('relationships', 'Relationships_T', model_1_v1)
br_v1 = eval_func('break ups', 'Break_ups_T', model_1_v1)
di_v1 = eval_func('divorce', 'Divorce_T', model_1_v1)
we_v1 = eval_func('wedding', 'Wedding_T', model_1_v1)
#mo_v1 = eval_func('moving', 'Moving_T', model_1_v1)
#co_v1 = eval_func('coming of age', 'Coming_of_age_T', model_1_v1)
de_v1 = eval_func('death', 'Death_T', model_1_v1)
fa_v1 = eval_func('family', 'Family_T', model_1_v1)
fr_v1 = eval_func('friendship', 'Friendship_T', model_1_v1)

In [168]:
data = {'v0': [un_v0, re_v0 , br_v0, di_v0, we_v0, mo_v0, co_v0, de_v0, 'N/A', 'N/A'],
        'v1': [un_v1, re_v1 , br_v1, di_v1, we_v1, 'N/A', 'N/A', de_v1, fa_v1, fr_v1]}
  
# Creates pandas DataFrame.
df = pd.DataFrame(data, index=['University',
                               'Relationships',
                               'Break ups',
                               'Divorce', 'Wedding', 'Moving', 'Coming of age', 'Death', 'Family', 'Friendship'])
  
# print the data
df

                     v0        v1
University          1.0       1.0
Relationships       0.5  0.538462
Break ups      0.870968  0.870968
Divorce             1.0       1.0
Wedding        0.967742   0.90625
Moving              0.0       N/A
Coming of age  0.931034       N/A
Death          0.666667  0.666667
Family              N/A  0.839286
Friendship          N/A  0.902439

# Overall Accuracy

In [136]:
un_v1 = prec_func('university', 'University_T', model_1_v1)
re_v1 = prec_func('relationships', 'Relationships_T', model_1_v1)
br_v1 = prec_func('break ups', 'Break_ups_T', model_1_v1)
di_v1 = prec_func('divorce', 'Divorce_T', model_1_v1)
we_v1 = prec_func('wedding', 'Wedding_T', model_1_v1)
#mo_v1 = prec_func('moving', 'Moving_T', model_1_v1)
#co_v1 = prec_func('coming of age', 'Coming_of_age_T', model_1_v1)
de_v1 = prec_func('death', 'Death_T', model_1_v1)
fa_v1 = prec_func('family', 'Family_T', model_1_v1)
fr_v1 = prec_func('friendship', 'Friendship_T', model_1_v1)

In [137]:
true_pos = 0
total = 0
false_pos = 0
true_neg = 0
false_neg = 0
for i in [un_v1, re_v1, br_v1, di_v1, we_v1, de_v1, fa_v1, fr_v1]:
    total = total + sum(i)
    true_pos = true_pos + i[0]
    false_pos = false_pos + i[2]
    true_neg = true_neg + i[1]
    false_neg = false_neg + i[3]
print('model 1 v1 accuracy', (true_pos + true_neg) / total)

model 1 v1 accuracy 0.8018018018018018

In [142]:
un_v0 = prec_func('university', 'University_T', model_1_v0)
re_v0 = prec_func('relationships', 'Relationships_T', model_1_v0)
br_v0 = prec_func('break ups', 'Break_ups_T', model_1_v0)
di_v0 = prec_func('divorce', 'Divorce_T', model_1_v0)
we_v0 = prec_func('wedding', 'Wedding_T', model_1_v0)
mo_v0 = prec_func('moving', 'Moving_T', model_1_v0)
co_v0 = prec_func('coming of age', 'Coming_of_age_T', model_1_v0)
de_v0 = prec_func('death', 'Death_T', model_1_v0)

In [145]:
true_pos = 0
total = 0
false_pos = 0
true_neg = 0
false_neg = 0
for i in [un_v0, re_v0, br_v0, di_v0, we_v0, mo_v0, co_v0, de_v0]:
    total = total + sum(i)
    true_pos = true_pos + i[0]
    false_pos = false_pos + i[2]
    true_neg = true_neg + i[1]
    false_neg = false_neg + i[3]
print('model 1 v0 accuracy', (true_pos + true_neg) / total)

0
0
0
0
0
0
0
0
model 1 v0 accuracy 0.7509025270758123