# LDA Data

In [1]:
import pandas as pd

In [2]:
df_full = pd.read_csv('shuffled_df.csv')
df_labeled = pd.read_csv('train_1000_labeled.csv')

/tmp/ipykernel_31381/2764004222.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_full = pd.read_csv('shuffled_df.csv')

In [4]:
df_labeled['description'][999]

"Santa Claus, my dear old friend, you are a thief, a traitor, a slanderer, a murderer, a liar, but worst of all you are a mockery of everything for which I stood. You have sung your last ho, ho, ho, for I am coming for your head. . . . I am coming to take back what is mine, to take back Yuletide . . .—from KrampusThe author and artist of The Child Thief returns with a modern fabulist tale of Krampus, the Lord of Yule and the dark enemy of Santa ClausOne Christmas Eve in a small hollow in Boone County, West Virginia, struggling songwriter Jesse Walker witnesses a strange spectacle: seven devilish figures chasing a man in a red suit toward a sleigh and eight reindeer. When the reindeer leap skyward, taking the sleigh, devil men, and Santa into the clouds, screams follow. Moments later, a large sack plummets back to earth, a magical sack that thrusts the down-on-his-luck singer into the clutches of the terrifying Yule Lord, Krampus. But the lines between good and evil become blurred as Jesse's new master reveals many dark secrets about the cherry-cheeked Santa Claus, including how half a millennium ago the jolly old saint imprisoned Krampus and usurped his magic.Now Santa's time is running short, for the Yule Lord is determined to have his retribution and reclaim Yuletide. If Jesse can survive this ancient feud, he might have the chance to redeem himself in his family's eyes, to save his own broken dreams, . . . and to help bring the magic of Yule to the impoverished folk of Boone County."

In [5]:
len(df_labeled)

1000

In [6]:
df_labeled.head()

,Unnamed: 0.1,index,Unnamed: 0,bookId,title,series,author,rating,description,language,...,university,relationships,break ups,divorce,weddings,death,family,friendship,labeled?,Contains True?
0,0,0,"39,822",34838660-not-part-of-the-plan,Not Part of the Plan,Blue Moon #4,Lucy Score (Goodreads Author),4.46,From the Wall Street Journal and #1 Amazon bes...,English,...,False,True,False,False,False,False,False,False,Yes,1.0
1,1,1,"34,235",20176552-dragon-age-volume-1,"Dragon Age, Volume 1",Dragon Age Graphic Novels #1-3,"David Gaider, Chad Hardin (Illustrator), Antho...",4.26,Helping set the stage for BioWare's hotly anti...,English,...,False,False,False,False,False,False,False,False,Yes,0.0
2,2,2,"27,904",124110.Dangerous_to_Know,Dangerous to Know,NaN,Barbara Taylor Bradford (Goodreads Author),3.73,"Sebastian Locke, the fifty-six-year-old patria...",English,...,False,True,False,True,False,True,True,False,Yes,1.0
3,3,3,"10,515",1046450.The_Wheel_of_Fortune,The Wheel of Fortune,NaN,Susan Howatch,4.11,"""Take me back to Oxmoon, the lost paradise of ...",English,...,False,True,False,False,False,False,True,False,Yes,1.0
4,4,4,935,872333.Blue_Bloods,Blue Bloods,Blue Bloods #1,Melissa de la Cruz (Goodreads Author),3.69,"When the Mayflower set sail in 1620, it carrie...",English,...,False,False,False,False,False,False,False,False,Yes,0.0

In [9]:
LDA_train = df_full[1000:]

In [10]:
len(LDA_train)

28652

In [13]:
LDA_train.head()

,Unnamed: 0.1,Unnamed: 0,bookId,title,series,author,rating,description,language,isbn,...,Fantasy,Erotica,History,Dystopia,Poetry,Biography,Manga,Thriller,Graphic Novels,Romance
1000,1000,28797,274618.The_Complete_Stories_of_Theodore_Sturge...,"The Complete Stories of Theodore Sturgeon, Vol...",The Complete Stories of Theodore Sturgeon #2,"Theodore Sturgeon, Paul Williams (Editor), Sam...",4.21,The second of a planned 10 volumes that will r...,English,9.78156E+12,...,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,1001,6612,14367051-city-of-bones-city-of-ashes-city-of-g...,City of Bones / City of Ashes / City of Glass ...,The Mortal Instruments #1-5,Cassandra Clare (Goodreads Author),4.58,The first five books in the #1 New York Times ...,English,9.78144E+12,...,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Romance
1002,1002,18812,35156.Clash_of_the_Titans,Clash of the Titans,NaN,Alan Dean Foster,3.88,"PLAYTHING OF THE GODSHe was Perseus, son of Ze...",English,9.78045E+12,...,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,1003,4134,45791.The_Ballad_of_the_Sad_Caf_and_Other_Stories,The Ballad of the Sad Café and Other Stories,NaN,Carson McCullers,4.00,A classic work that has charmed generations of...,English,9.78062E+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1004,1004,4052,20603820-the-will,The Will,Magdalene #1,Kristen Ashley (Goodreads Author),4.29,"Early in her life, Josephine Malone learned th...",English,B00HYIF9FW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Romance

In [11]:
LDA_test = df_labeled

In [14]:
LDA_test.head()

,Unnamed: 0.1,index,Unnamed: 0,bookId,title,series,author,rating,description,language,...,university,relationships,break ups,divorce,weddings,death,family,friendship,labeled?,Contains True?
0,0,0,"39,822",34838660-not-part-of-the-plan,Not Part of the Plan,Blue Moon #4,Lucy Score (Goodreads Author),4.46,From the Wall Street Journal and #1 Amazon bes...,English,...,False,True,False,False,False,False,False,False,Yes,1.0
1,1,1,"34,235",20176552-dragon-age-volume-1,"Dragon Age, Volume 1",Dragon Age Graphic Novels #1-3,"David Gaider, Chad Hardin (Illustrator), Antho...",4.26,Helping set the stage for BioWare's hotly anti...,English,...,False,False,False,False,False,False,False,False,Yes,0.0
2,2,2,"27,904",124110.Dangerous_to_Know,Dangerous to Know,NaN,Barbara Taylor Bradford (Goodreads Author),3.73,"Sebastian Locke, the fifty-six-year-old patria...",English,...,False,True,False,True,False,True,True,False,Yes,1.0
3,3,3,"10,515",1046450.The_Wheel_of_Fortune,The Wheel of Fortune,NaN,Susan Howatch,4.11,"""Take me back to Oxmoon, the lost paradise of ...",English,...,False,True,False,False,False,False,True,False,Yes,1.0
4,4,4,935,872333.Blue_Bloods,Blue Bloods,Blue Bloods #1,Melissa de la Cruz (Goodreads Author),3.69,"When the Mayflower set sail in 1620, it carrie...",English,...,False,False,False,False,False,False,False,False,Yes,0.0

In [12]:
len(LDA_test)

1000

In [15]:
LDA_train.to_csv('LDA_train.csv')
LDA_test.to_csv('LDA_test.csv')